:root {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  height: 90vh;
  gap: 50px;
}

.box {
  width: 85%;
  border-radius: 20px;
  isolation: isolate;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

.clear {
  margin: 0;
  padding: 0;
}

/* Searchbar */
.search {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.input {
  line-height: 28px;
  height: 45px;
  border: none;
  background-color: #caf0f800;
  outline: none;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}
.input:active {
  transform: scale(0.95);
}

::placeholder {
  color: #0000008a;
}

/* Current weather */
.current {
  width: 85%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
}

.left {
  width: 80%;
}
.right {
  width: 20%;
}

.mintemp {
  color: #0000008a;
}
.bold {
  font-weight: 500;
}

/* 7days */
.sevenBox {
  width: 85%;
  border-radius: 20px;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
}

.sevenDays {
  height: 100px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);

  padding: 20px 10px;
}

/* Background */
.liquid-glass {
  border-radius: 56.00000000000001px;
  isolation: isolate;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 30px;
  text-decoration: none;
  cursor: pointer;
}
