<%- include('partials/header.ejs') %>
    <main>
        <div class="container liquid-glass">
            <%# Searchbar %>
                <div class="box search glass-text">
                    <div class="searchbar">
                        <form action="/city" method="post">
                            <input class="input" type="text" placeholder="Search..." name="city" />
                        </form>
                    </div>

                </div>
                <%# Weather %>
                    <% if (locals.location && locals.condition && locals.forecast){ %>
                        <div class="box weather">
                            <div class="pic left">
                                <img src="https:<%=condition.condition.icon%>" height="100px" />
                            </div>

                            <div class="info right">
                                <h2>
                                    <%= location.name %>
                                </h2>
                                <p>
                                    <%= location.country %>
                                </p>
                            </div>
                        </div>
                        <%# Forecast %>
                            <div class="box sevenDays">
                                <div>
                                    <br>
                                    <img src=`https:` height="100px" />

                                </div>
                            </div>
                            <% } %>
        </div>
    </main>
    </body>

    </html>